/* Couleur de fond et marges */
body {
  background-color: #aca788;
}
header {
  background-color: #807c62;
  margin-bottom: 20px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

/* Logo */
.navbar-brand img {
  filter: brightness(0.8) saturate(1.5) contrast(0.8);
}

/* Bouton de connexion */
.navbar-nav .btn-primary {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.navbar-nav .btn-primary:hover {
  background-color: #138496;
  border-color: #138496;
}

/* Liens de la navbar */
.navbar-nav .nav-link {
  color:#807c62;
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  color: #17a2b8;
}

/* Dropdown */
.dropdown-menu {
  border: none;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

.dropdown-item {
  color:#807c62;
  font-weight: 500;
}

.dropdown-item:hover {
  background-color: #17a2b8;
  color: white;
}
footer {
  background-color: #807c62;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999; /* Si besoin */
  }
  
  footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  footer li {
    display: inline-block;
    margin: 0 10px;
  }
  
  footer a {
    color: #17a2b8;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #343a40;
    text-decoration: none;
  }